.depoimentos{
  margin:100px auto 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  background-color: var(--p-1);
  
  
}

.depoimentos img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: initial;

  
}
.depoimento{
  background-color: var(--p-1);
  place-self: flex-end ;
 padding: 40px;

}
.depoimento p{
  font-family: 'Merriweather', serif;
  max-width: 33ch;
  margin-bottom: 20px;

}

.depoimento span{
  display: block;
  text-align: right;
}

@media (max-width:800px){
  .depoimentos{
    margin-top: 50px;
  grid-template-columns: 1fr;
  }
  .depoimento{
  place-self: center;
  }
  .depoimentos img{
  height: 300px;
  }
  .depoimento span{
  text-align: center;
  }
}