.depoimentos{
  margin:100px auto 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  background-color: var(--p-1);
  
  
}

.depoimentos img{
  width: 100%;
  max-height: 500px;
  border-radius: initial;

  
}
.depoimento{
  background-color: var(--p-1);
  place-self: flex-end ;
 padding: 40px;

}
.depoimento p{
  font-family: 'Merriweather', serif;
  max-width: 33ch;
  margin-bottom: 20px;

}

.depoimento span{
  display: block;
  text-align: right;
}