.seguros-bg{
  background-color: var(--cor-11);
  padding-bottom: 60px;
}
.seguros-content{
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.seguros-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  
}
.seguros-item{

  padding: 30px 40px;
  display: grid;
  gap: 40px;
  align-self: center;
  border-radius: 10px;
  background-color: var(--cor-12);
}

.vantagens-seguro{
  display: grid;
  gap: 20px;
}
.header-preco{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.header-card{
  display: flex;
  justify-content: space-between;
  
  
}

.vantagens-item div{
 display: flex;
 gap: 8px;
 align-items: center;
  
  
}

.seguros-list a{
margin: 0px;

}

.header-card h3{
  padding-left: 20px;
}

@media (max-width:600px){
  .seguros-list{
  grid-template-columns: 1fr;
  }
  .vantagens-seguro{
    justify-content: center;
  }
  
.seguros-content h2{
 margin-bottom: 60px; 
}

}